/*header style*/
header{
    padding: 50px 100px;
    background-color: antiquewhite;
}

.nav-berr{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.G3-logo{
    font-size: 30px;
    font-weight: 400;
    color: black;
}
nav ul{
    display: flex;
}
nav>ul>li{
    list-style: none;
}
nav>ul>li>a{
    margin-right: 30px;
    font-weight: 500px;
    font-size:1rem ;
    text-decoration: none;
    color: black;
}
.banner-containt{
    align-items: center;
}
.banner-img{
    height: 500px;
    width: 100%;
    
}
.primary-button{
    background-color: orange;
    padding: 15px 10px;
    position: relative;
    right: -450px;
    border-radius: 5px;
    color:white;
    cursor: pointer;
}
.bannar-title{
    text-align: center;
    font-size: 40px;
}
.primary-button{
    align-items: center;
}
.bannare-discription{
    text-align: center;
    width: 800px;
    padding-left: 100px;
    color: grey;
}
/*main setion style*/
main{
    max-width: 1000px;
    margin: 0px auto;
}
.tem-contener{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.tem-conteiner-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.tem-conteiner-img-discription{
    padding-left: 75px;
    padding-right:75px ;

}
.primary-button-tow{
    background-color: orange;
    padding: 15px 10px;
    border-radius: 5px; 
    color:white;
    cursor: pointer; 
}
.tems-title{
    font-size: 45px;
}
.Quick-list{
    color:rgba(122, 122, 122, 0.479);

}
.of-our{
    color: black;
    font-weight: 500px;
}
.text-Features{
    color: orange;
    font-weight: 400px;
}
.images{
    height: 200px;
    width: 200px;
    
}
/*features section*/
.Features-container{
    display: flex;
    gap: 100px;
}
.features-img{
    height: 600px;
    width: 300px;
    margin-top: 50px;

}
.div{
    box-shadow: 10px 10px 25px rgba(20, 20, 20, 0.383);
    padding: 5px 10px;
    width: 600px;
    margin: 10px;
    border-radius: 5px;
    
}
.features-infomtion-header{
    width: 500px;
}
 

/*fast container*/

.tems-discription{
    color: gray;
}
.card-img{
    height:50px;
    width: 50px;
}

.fasts-card-container{
    display: flex;
    justify-content: space-around;
}
.fasts-card-container>.card{
    border: 1px solid red;
    border-radius: 5px;
    text-align: center;
    padding: 40px ;
} 
.cardtow{
    border: 1px solid red;
    border-radius: 5px;
    text-align: center;
    width: 180px;
}
.fasts-card-container>.card-number{
    font-size:2.8rem;
    color: #424242;
    margin-top: 2px;
    margin-bottom: 2px;
}
.fasts-card-container>.card-taitle{
    font-weight: 600;
    color:lightgray;
    font-size: 20px;
    margin-top:2px ;
}
.extra-idet{
    position: relative;
    top:40px;
}

/*sponser style*/
.Sponser{
    text-align: center;
}
.sponser-img{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    margin-top: 10px;
}
.amazon-img{
    height: 100px;
    width: 170px;
}


/*responsive midiyaquari header*/
@media screen and (max-width:576px) {
    header{
        padding:10px;
    }
    .nav-berr{
        flex-direction: column;
    }
    .bannare-discription{
        text-align: center;
        width: 360px;
        padding-left: 5px;
    }
    .primary-button{
        padding: 5px 2px;
        position: relative;
        right: -150px;
        top: -10px;
        border-radius: 5px;  
    }
    .tem-contener{
        flex-direction: column;
    }
    .images{
        height: 170px;
        width: 170px;     
    }
    .tems-discription{
        width: 300px;
        align-items: center;
    }
    .fasts-card-container{
        flex-direction: column;
    }
    .fasts-card-container{
        gap: 20px;
    }
    .sponser-img{
        flex-direction: column;
        position: relative;
        right: -125px;
        
    }
    .G3-logo,.tems-discription{
        padding-left: 50px;
    }
    .Features-container{
        flex-direction: column;
    }
    .features-img{
        margin-top:5px;
    
    }
    .div{
        width: 280px;
        
    }
    
}
@media screen and (min-width:577px) and (max-width:1060px) {
    .nav-berr{
        flex-direction: column;
    }
    .bannare-discription{
        text-align: center;
        width: 700px;
        padding-left: 1px;
    }
    .primary-button{
        padding: 5px 2px;
        position: relative;
        right: -330px;
        top: -10px;
        border-radius: 5px;
        
    }
    .banner-img{
        height: 500px;
        width: 100%;
        
    }
    .tem-contener{
        flex-direction: column;
    }
    .tems-discription{
        width: 400px;
    }
    .tem-contener{
        flex-direction:column-reverse;
    }
    .primary-button-tow{
        margin-bottom:10px ;
    }
    .fasts-card-container{
        display: grid;
        grid-template-columns:repeat(2,1fr);
    }
    .fasts-card-container{
        gap: 20px;
    }
    .sponser-img{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .G3-logo,.tems-discription{
        padding-left: 150px;
    }
    .Features-container{
        flex-direction: column;
    }

}